@tailwind base;
@tailwind components;
@tailwind utilities;

.gutter {
  background-color: #f3f4f6;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover {
  background-color: #e5e7eb;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.split {
  display: flex;
}